@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend+Mega:wght@100..900&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Lexend Mega', sans-serif;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.lexend {
    font-family: 'Lexend Mega', sans-serif;
}

.public-sans {
    font-family: 'Public Sans', sans-serif;
}

.archivo {
    font-family: 'Archivo', sans-serif;
}

.active-notification{
    top: 1rem;
    z-index: 1000;
}

.error{
  color: rgb(223, 0, 0);
}

.success{
  color: #5cb85c;
}

@keyframes slide-down {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 3rem;
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-down {
    animation: slide-down 0.4s ease-in forwards;
  }
}